<div class="item-edit">
  <div class="actions">
    <button {{action 'cancel'}}>Cancel</button>
    <button {{action 'save'}}>Save</button>
  </div>

  <label for="title">Title:</label>
  {{input id="title" value=title}}
  <label for="rating">Rating:</label>
  {{input id="rating" value=rating}}
  <label for="date">Date:</label>
  {{input id="date" value=date}}
  <label for="priority">Priority:</label>
  {{input id="priority" value=priority}}
  <label for="complete">Complete:</label>
  {{input id="complete" value=complete}}

  <ul class="fields">
    {{#each fields}}
    <label>
      <span>{{key}}:</span>
      {{input value=value}}
    </label>
    {{/each}}

    <div class="new-field">
      {{input value=newFieldValue}}
    </div>
  </ul>
</div>
