<div class="item-edit">
  <div class="actions">
    <button {{action 'cancel'}}>Cancel</button>
    <button {{action 'save'}}>Save</button>
  </div>

  <label for="title">Title:
    {{input id="title" value=title}}
  </label>
  <label for="title">Description:
    {{input id="description" value=description}}
  </label>
  <label for="rating">Rating:
    {{input id="rating" value=rating}}
  </label>
  <label for="date">Date:
    {{input id="date" value=date}}
  </label>
  <label for="priority">Priority:
    {{input id="priority" value=priority}}
  </label>
  <label for="complete">Complete:
    {{input id="complete" value=complete}}
  </label>

  <ul class="fields">
    {{#each fields}}
    <label>
      <span>{{key}}:</span>
      {{input value=value}}
    </label>
    {{/each}}

    <div class="new-field">
      {{input value=newFieldValue}}
    </div>
  </ul>
</div>
