<div class="item-edit">
  <div class="actions">
    {{#link-to 'item'}}Close{{/link-to}}
  </div>

  <label for="title">
    <span>Title: {{title}}</span>
  </label>

  <ul class="fields">
    {{#each fields}}
    <label>
      <span>{{key}}:</span>
      {{input value=value}}
    </label>
    {{/each}}

    <div class="new-field">
      {{input value=newFieldValue}}
    </div>
  </ul>

  <div class="edit-actions">
    <button {{action 'cancel'}}>Cancel</button>
    <button {{action 'save'}}>Save</button>
  </div>
</div>
