<section class="item-edit">
  <header>
    <button {{action 'cancel'}}>Cancel</button>
    <h1 class="title">Edit Item</h1>
    <button {{action 'save'}}>Save</button>
  </header>

  <div class="item-metadata">
    <label for="title">Title:
      {{input id="title" value=title}}
    </label>
    <label for="title">Description:
      {{input id="description" value=description}}
    </label>
    <label for="rating">Rating:
      {{input id="rating" value=rating}}
    </label>
    <label for="date">Date:
      {{input id="date" value=date}}
    </label>
    <label for="priority">Priority:
      {{input id="priority" value=priority}}
    </label>
    <label for="complete">Complete:
      {{input id="complete" value=complete}}
    </label>

    <ul class="fields">
      {{#each fields}}
      <label>
        <span>{{key}}:</span>
        {{input value=value}}
      </label>
      {{/each}}
    </ul>
  </div>

  <div class="new-field">
    <p>Add a new Field!</p>
    <label for="newFieldKey">Name:
      {{input id="newFieldKey" value=newFieldKey}}
    </label>

    {{view Ember.Select
      content=fieldKeyTypes
      prompt="Please select a data type:"
      optionValuePath="content.type"
      optionLabelPath="content.type"
      selection=selectedKeyType
    }}

    {{#if selectedKeyType.string}}
      {{input value=newFieldValue placeholder="Words go here!"}}
    {{/if}}

    {{#if selectedKeyType.number}}
      {{input value=newFieldValue placeholder="0"}}
    {{/if}}

    {{#if selectedKeyType.date}}
      <p>Date!</p>
    {{/if}}

    <button {{action 'addField'}}>Add</button>
  </div>
</section>
