<section class="item">
  <header>
    {{#link-to 'items'}}<i class="fa fa-list-ul"></i><span class="link-text">Items</span>{{/link-to}}
    <h1 class="title">Item</h1>
    {{#link-to 'item.edit'}}<i class="fa fa-pencil"></i><span class="link-text">Edit</span>{{/link-to}}
  </header>

  <section class="item-metadata">
    <h1 class="title">{{title}}</h1>
    <p class="description">{{description}}</p>

    <p class="rating"><label>Rating</label> {{rating}}</p>
    <p class="date"><label>Date</label> {{moment-calendar date}}</p>
    <p class="priority"><label>Priority</label> {{priority}}</p>
    <p class="complete">
      <label>Completed</label>
      {{input type="checkbox" class="checkmark" disabled="disabled" checked=complete}}
    </p>

    <ul class="fields">
      {{#each fields}}
      <li class="item-field"><label>{{key}}</label> {{val}}</li>
      {{/each}}
    </ul>
  </section>
</section>
