<div class="item">
  <div class="actions">
    {{#link-to 'items'}}Close{{/link-to}}
    {{#link-to 'item.edit'}}Edit{{/link-to}}
  </div>

  <div class="item-metadata">
    <p class="title"><label>Title:</label> {{title}}</p>
    <p class="description"><label>Description:</label> {{description}}</p>
    <p class="rating"><label>Rating:</label> {{rating}}</p>
    <p class="date"><label>Date:</label> {{moment-calendar date}}</p>
    <p class="priority"><label>Priority:</label> {{priority}}</p>
    <p class="complete"><label>Completed:</label> {{yesno complete}}</p>
  </div>

  <ul class="fields">
    {{#each fields}}
    <li class="item-field"><label>{{key}}</label>: {{val}}</li>
    {{/each}}
  </ul>
</div>
