<p> {{date}} </p>
<p> {{momentDate}} </p>

{{view Ember.Select
    content=months
    selection=selectedMonth
}}
{{view Ember.Select
    content=days
    selection=selectedDay
}}
{{view Ember.Select
    content=years
    selection=selectedYear
}}
{{view Ember.Select
    content=hours
    selection=selectedHour
}}
{{view Ember.Select
    content=minutes
    selection=selectedMinute
}}
{{view Ember.Select
    content=ampm
    selection=selectedAMPM
}}
