<div class="content">
  <div class="groups-wrapper">
    {{outlet groups}}    {{!-- list of groups --}}
  </div>

  <div class="items-wrapper">
    {{outlet items}}     {{!-- list of items from a group --}}
  </div>

  <div class="group-wrapper">
    {{outlet group}}     {{!-- itemized description of a group --}}
    {{outlet groupEdit}} {{!-- itemized editing  of a group --}}
  </div>

  <div class="item-wrapper">
    {{outlet item}}      {{!-- itemized description of an item --}}
    {{outlet itemEdit}}  {{!-- itemized editing of an item --}}
  </div>
</div>
