<section class="groups sortable">
  <header>
    <span class="dummy"></span>
    <h1 class="title">Groups</h1>
    {{#link-to 'groups.new'}}<i class="fa fa-plus"></i><span class="link-text">Add</span>{{/link-to}}
  </header>

  <ul class="groups-list">
  {{#each}}
    <li>
      {{#link-to 'items' id class='list-item'}}
        {{title}}
      {{/link-to}}
      <div class="controls">
        {{#link-to 'group' this}}<button><i class="fa fa-info-circle"></i></button>{{/link-to}}
        {{#link-to 'group.edit' this}}<button><i class="fa fa-pencil"></i></button>{{/link-to}}
        <button {{action 'delete' this}}><i class="fa fa-trash"></i></button>
      </div>
    </li>
  {{/each}}
  </ul>

  <footer {{bind-attr class=userSorted}}>
    <button class="title" {{action 'sortByTitle'}}><i {{bind-attr class=":fa sortedTitleAsc:fa-sort-alpha-desc:fa-sort-alpha-asc"}}></i></button>
  </footer>
</section>
