<div class="item">
  {{#link-to 'item.edit' this}}Edit{{/link-to}}

  <div class="item-metadata">
    <p class="title">{{title}}</p>
    <p class="rating">{{rating}}</p>
    <p class="date">{{date}}</p>
    <p class="priority">{{priority}}</p>
    <p class="complete">{{complete}}</p>
  </div>
</div>
