<section class="items">
  <header>
    {{#link-to 'groups'}}<i class="fa fa-tasks"></i><span class="link-text">Groups</span>{{/link-to}}
    <h1 class="title">Items</h1>
    <button {{action 'add'}}>+</button>
  </header>

  <ul class="items-list">
    {{#each}}
    <li>
      {{input type="checkbox" checked=complete}}
      {{#link-to 'item' this}}
        {{title}}
      {{/link-to}}
      <div class="controls">
        <button {{action 'edit' this}}><i class="fa fa-pencil"></i></button>
        <button {{action 'delete' this}}><i class="fa fa-trash"></i></button>
      </div>
    </li>
    {{/each}}
  </ul>

  <footer>
    <button><i class="fa fa-sort-alpha-asc"></i></button>
    <button><i class="fa fa-sort-alpha-desc"></i></button>
    <button><i class="fa fa-sort-numeric-asc"></i>Priority</button>
    <button><i class="fa fa-sort-numeric-desc"></i>Priority</button>
    <button><i class="fa fa-sort-numeric-asc"></i>Rating</button>
    <button><i class="fa fa-sort-numeric-desc"></i>Rating</button>
  </footer>
</section>
