<section {{bind-attr class=":items :sortable active"}}>
  <header>
    <h1 class="title">Items</h1>
    {{#link-to 'groups'}}<i class="fa fa-tasks"></i><span class="link-text">Groups</span>{{/link-to}}
    {{#link-to 'items.new'}}<i class="fa fa-plus"></i><span class="link-text">Add</span>{{/link-to}}
  </header>

  <ul class="list items-list">
    {{#each}}
    <li>
      {{action-checkbox type="checkbox" class="checkmark" checked=complete action="patchChecked" model=this}}
      {{#link-to 'item' this class='list-item'}}
        {{title}}
      {{/link-to}}
      <div class="controls">
        {{#link-to 'item.edit' this}}<button><i class="fa fa-pencil"></i></button>{{/link-to}}
        <button {{action 'delete' this}}><i class="fa fa-trash"></i></button>
      </div>
    </li>
    {{/each}}
  </ul>

  <footer {{bind-attr class="userSorted"}}>
    <button class="clearSort" {{action 'clearSort'}}><i class="fa fa-square-o"></i>Unsort</button>
    <button class="title" {{action 'sortByTitle'}}><i {{bind-attr class=":fa sortedTitleAsc:fa-sort-alpha-desc:fa-sort-alpha-asc"}}></i>Title</button>
    <button class="priority" {{action 'sortByPriority'}}><i {{bind-attr class=":fa sortedPriorityAsc:fa-sort-numeric-desc:fa-sort-numeric-asc"}}></i>Priority</button>
    <button class="rating" {{action 'sortByRating'}}><i {{bind-attr class=":fa sortedRatingAsc:fa-sort-numeric-desc:fa-sort-numeric-asc"}}></i>Rating</button>
    <button class="complete" {{action 'sortByComplete'}}><i {{bind-attr class=":fa sortedCompleteAsc:fa-sort-desc:fa-sort-asc"}}></i>Done</button>
  </footer>
</section>
